.checkoutproduct{
    background-color: #fff;
    padding:10px;
    display: flex;
    border-bottom: 1px solid grey;
}
.checkoutproduct img{
    width:180px;
    height: 180px;
    object-fit: contain;
}
.checkoutproduct_info{
    padding: 20px;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutproduct_rating{
    display:flex;
    margin-bottom: 10px;
}
.checkoutproduct_price{
    margin-top:5px;
}

.checkoutproduct button{
    background-color: #f0c14b;
    border: 1px solid;
    padding:7px;
    font-weight: 700;
    border-color: #f0c13f;
    border-radius: 2px;
}